* {
  box-sizing: border-box;
 
}
@import "tailwindcss";
@theme {
  --color-main: #BF5523;
  --color-background: #F1F1F1;
  --color-secondary-text: #333;
  --color-inactive: #a3a3a3;
}


body{
  width: 100vw;
  height: 100vh;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}


button {
  cursor: pointer;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}